<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index_page' %}">ENERGY S.A Soporte Tecnico 🔧</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index_page' %}">Home</a>
      </li>

      {% if request.user.rol == 'Sistemas' %}
      
      <li class="nav-item">
        <a class="nav-link" href="/departamentos">Gestionar Departamentos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/empleados">Gestionar Empleados</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/tecnicos">Tecnicos</a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Solicitudes
        </a>
        <ul class="dropdown-menu">

          <li><a class="dropdown-item" href="/realizar_solicitud">Realizar Solicitud</a></li>

          <li><a class="dropdown-item" href="/solicitudes_realizadas">Solicitudes Realizadas</a></li>

          <li><a class="dropdown-item" href="/solicitudes_en_progreso">Solicitudes En progreso</a></li>

          <li><a class="dropdown-item" href="/solicitudes_pendiente_aprobacion">Solicitudes pendiente aprobacion</a></li>

          <li><a class="dropdown-item" href="/solicitudes_aprobadas">Solicitudes aprobadas</a></li>
        </ul>
      </li>

      {% endif %}


      {% if request.user.rol == 'Soporte' %}
      <li class="nav-item">
        <a class="nav-link" href="/repuestos">Gestionar Repuestos</a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Solicitudes
        </a>
        <ul class="dropdown-menu">
          

          <li><a class="dropdown-item" href="/solicitudes_realizadas">Solicitudes Realizadas</a></li>

          <li><a class="dropdown-item" href="/solicitudes_en_progreso">Solicitudes En progreso</a></li>

          <li><a class="dropdown-item" href="/solicitudes_pendiente_aprobacion">Solicitudes pendiente aprobacion</a></li>

          <li><a class="dropdown-item" href="/solicitudes_aprobadas">Solicitudes aprobadas</a></li>
        </ul>
      </li>
      {% endif %}


      {% if request.user.rol == 'JefeSoporte' %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Solicitudes
        </a>
        <ul class="dropdown-menu">
          

          <li><a class="dropdown-item" href="/solicitudes_realizadas">Solicitudes Realizadas</a></li>

          <li><a class="dropdown-item" href="/solicitudes_en_progreso">Solicitudes En progreso</a></li>

          <li><a class="dropdown-item" href="/solicitudes_pendiente_aprobacion">Solicitudes pendiente aprobacion</a></li>

          <li><a class="dropdown-item" href="/solicitudes_aprobadas">Solicitudes aprobadas</a></li>
        </ul>
      </li>
      {% endif %}

      

      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}"
          >({{ request.user.first_name }} - {{request.user.rol}})Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
